{% extends "baseTemplate.html" %}
{% block content %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>Edit Item Information</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="#" method = "post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">
                <label for="description">Description:</label>
                <textarea class="form-control" maxlength="250" rows="3" name="description" value="{{item.description}}"></textarea>
                <label for="price">Price:</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
                </div>
                <label for="make">Make:</label>
                <div class="radio">
                    <label>
                    <input type="radio" name="make" id="make1" value="Japanese" {% if item.make == 'Japanese' %}checked{%endif%}>Japanese
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="make" id="make2" value="US" {% if item.make == 'US' %}checked{%endif%}>US
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="make" id="make3" value="UK" {% if item.make == 'UK'%}checked{%endif%}>UK
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="make" id="make4" value="Germany" {%if item.make =='Germany'%}checked{%endif%}>Germany
                    </label>
                </div>
                <button type="submit" class="btn btn-default" id="submit" type="submit">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
                <a href = '{{url_for('showCategories')}}'>
                <button class="btn btn-default delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}